body, html {
    background: black;
    color: white;
    font-family: serif;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 1em;
}

h1, h3, span, pre {
    margin: 1em 0;
}

button {
    background: black;
    color: white;
    border: solid 1px white;
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
    font-size: 1em;
    text-transform: lowercase;
}

button:hover {
    background-color: white;
    color: black;
}
