body, html {
    background: black;
    color: white;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin: 0;
}

h1, h3, span, pre {
    margin: 1em 0;
}

button {
    background: black;
    color: white;
    border: solid 1px white;
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
    font-size: 1em;
    text-transform: lowercase;
}

button:hover {
    background-color: white;
    color: black;
}

body, html, #root {
    height: 100%;
  }

.container {
display: flex;
flex-direction: column;
height: 100%;
}

.layout {
display: flex;
flex: 1; /* Take remaining height after header */
overflow: hidden;
}

.chat-section {
flex: 7;
border-right: 1px solid white;
padding-right: 1em;
overflow-y: auto;
}

.player-section {
flex: 3;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
overflow-y: auto;
}

@media (max-width: 768px) {
.layout {
    flex-direction: column;
}

.chat-section {
    border-right: none;
    padding-right: 0;
}

.player-section {
    padding-left: 0;
}
}
  
  

@media (max-width: 768px) {
.layout {
    flex-direction: column;
}

.chat-section, .player-section {
    flex: unset;
    width: 100%;
}
}
